# Wine Dataset

Testiamo il classificatore `RandomForest.py` sul dataset **Wine**

In [25]:
import os
import pandas as pd
import numpy as np
from random_forest import RandomForest

In [26]:
s = os.path.join('dataset', 'wine.data')
df = pd.read_csv(s,
                 header=None,
                 encoding='utf-8')

df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

Da questo Dataset ci prendiamo i primi due tipi di vino

- Tipologia 1: da 1 a 59
- Tipologia 2: da 60 a 130
- Tipologia 3: da 61 a 178

In [ ]:
y = df.iloc[:130, 0].values
y = np.where(y == 1, 1, -1)
X = df.iloc[:130, 1:14].values

X_std = (X-X.mean(0))/X.std(0)

[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1]